<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseProject.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
				<key>dateExpires</key>
				<string>06/07/2019</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AAPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ADEmailAndPassword.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ActionCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ActiveLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DottedLineView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GCNetworkReachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GrowingTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>INSPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ImageScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KMPlaceholderTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KUIPopOver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJAutoComplete.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MKNetworkKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Popover.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SYBlinkAnimationKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>StarscreamSocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftLinkPreview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftSVG.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UICircularProgressRing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YouTubePlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ZFTokenField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F17DE8FB2E2D187FD3880289A3CD6E5E81EC1E1C</string>
						<key>dateExpires</key>
						<string>06/07/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>moa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z2APUMCWUU</string>
						<key>name</key>
						<string>Aiden Shannon</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z2APUMCWUU.com.codingpixel.healing-bud.development</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:healingbudz.codingpixel.co</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Z2APUMCWUU</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.codingpixel.healing-bud.development</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>BaseProject.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9c0f1db3-62e5-4ab0-a97b-8e9730bf9462</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.codingpixel.healing-bud.development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z2APUMCWUU</string>
				<key>name</key>
				<string>Aiden Shannon</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
